.course {
  /* border-top: 0.5rem solid black; */
  /* border-bottom: 1rem solid black; */
  margin-top: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 2rem;
}
.course h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
